@using OpenEducator.App_Start;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @DataProvider.GetString("SiteTitle")</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    
    <nav class="nav has-shadow">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item nav-title" style="font-weight: bold;">@DataProvider.GetString("SiteTitle")</a>
                @foreach(var kvp in DataProvider.GetMenu("TopBar").Links) {
                    <a href="@kvp.Value" class="nav-item is-tab is-hidden-mobile">@kvp.Key</a>
                }
            </div>

            <div class="nav-right nav-menu">
                <a class="nav-item is-tab" href="/Dashboard/Test">Playground</a>
            </div>
        </div>
    </nav>
    
    <div class="container is-padded" style="@ViewBag.ContainerStyle">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/init")
    @RenderSection("scripts", required: false)
</body>
</html>
