@using OpenEducator.App_Start;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @DataProvider.GetString("SiteTitle")</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/react")
    
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">@DataProvider.GetString("SiteTitle")</div>
    </div>

    <div class="top-bar" id="example-menu">
        <div class="top-bar-right hide-for-small-only">
            <ul class="menu">
                <li class="menu-text">@DataProvider.GetString("SiteTitle")</li>
            </ul>
        </div>
        <div class="top-bar-left">
            <ul class=" medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
                @foreach(var kvp in DataProvider.GetMenu("TopBar").Links) {
                    <li role="menuitem" class="dark"><a href="@kvp.Value">@kvp.Key</a></li>
                }
            </ul>
        </div>
    </div>

    
    <div class="container bg-dark @ViewBag.Classes" style="@ViewBag.ContainerStyle">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/init")
    @RenderSection("scripts", required: false)
</body>
</html>
