@using OpenEducator.App_Start;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @DataProvider.GetString("SiteTitle")</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    
    <navigation>
        <brand>@DataProvider.GetString("SiteTitle")</brand>
        @foreach(var kvp in DataProvider.GetMenu(ViewBag.Menu ?? "TopBar").Links) {
            <a href="@kvp.Value">@kvp.Key</a>
        }
    </navigation>

    <div class="container" style="@ViewBag.ContainerStyle">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/broken")
    @RenderSection("scripts", required: false)
</body>
</html>
