@{
    ViewBag.Title = "ViewCourse";

    int courseID = ViewBag.ID;
    int chapterID = ViewBag.Chapter;
    int topicID = ViewBag.Topic;
    int pageID = ViewBag.Page;
}

@if(!Course.Exists(courseID)) {
    <h1 class="padded" style="color: white;">Course with ID @courseID does not exist.</h1>
    return;
}

@{
    Course crs = Course.GetFromID(courseID);
    bool showCourse = false, showChapter = false, showTopic = false, showPage = false;

    if(chapterID <= -1 || chapterID >= crs.Chapters.Count) {
        showCourse = true;
    } else if(topicID <= -1 || topicID >= crs.Chapters[chapterID].Topics.Count) {
        showChapter = true;
    } else if(pageID <= -1 || pageID >= crs.Chapters[chapterID].Topics[topicID].Pages.Count) {
        showTopic = true;
    } else {
        showPage = true;
    }

}

<div class="row margin-top">
    <div class="medium-8 medium-offset-2" style="background-color: white;">
        <p>Course ID: @courseID</p>
        <p>Chapter ID: @chapterID</p>
        <p>Topic ID: @topicID</p>
        <p>Page ID: @pageID</p>
    </div>
</div>

<div class="row">
    <div class="medium-8 medium-offset-2" style="background-color: white;">
        <div class="xContent">
            @if(showCourse) {
                foreach(Content c in crs.Contents) {
                    <div class="xContentItem s-padded">
                        @Html.Raw(c.Render())
                    </div>
                }
            } else if(showChapter) {
                foreach(Content c in crs.Chapters[chapterID].Contents) {
                    <div class="xContentItem s-padded">
                        @Html.Raw(c.Render())
                    </div>
                }
            } else if(showTopic) {
                foreach(Content c in crs.Chapters[chapterID].Topics[topicID].Contents) {
                    <div class="xContentItem s-padded">
                        @Html.Raw(c.Render())
                    </div>
                }
            } else if(showChapter) {
                foreach(Content c in crs.Chapters[chapterID].Topics[topicID].Pages[pageID].Contents) {
                    <div class="xContentItem s-padded">
                        @Html.Raw(c.Render())
                    </div>
                }
            }
        </div>

        <div class="padded text-center">
            <a class="button primary">Back to Course Overview</a>
        </div>
    </div>
</div>